Source: arora
Section: web
Priority: extra
Maintainer: Sune Vuorela <debian@pusling.com>
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.5)
Standards-Version: 3.7.3

Package: arora
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: www-browser
Description: Arora is an open-source browser project that aims to build a cross-platform
 WebKit browser that integrates with every desktop.
