[Desktop Entry]
Comment=Arora Web Browser
Comment[en_US]=Arora Web Browser
Exec=arora %U
GenericName=
GenericName[en_US]=
Icon=arora
MimeType=
Name=Arora
Name[en_US]=Arora
NoDisplay=true
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;Network;WebBrowser;
X-DCOP-ServiceType=
X-KDE-HasTempFileOption=true
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false