[Desktop Entry]
Name=Arora
Name[en_US]=Arora
Name[sr]=Арора
Name[sr@latin]=Arora
Comment=Browse the World Wide Web
Comment[ast]=Restola pola World Wide Web
Comment[fr_FR]=Surfer sur le web
Comment[nl]=Surfen op het wereldwijde web
Comment[nl_NL]=Surfen op het wereldwijde web
Comment[sr]=Крстарите интернетом
Comment[sr@latin]=Krstarite Internetom
GenericName=Web Browser
GenericName[ast]=Restolador web
GenericName[cs_CZ]=Webový prohlížeč
GenericName[en_US]=Web Browser
GenericName[es]=Navegador web
GenericName[fr_FR]=Navigateur web
GenericName[gl]=Navegador web
GenericName[nl]=Webbrowser
GenericName[nl_NL]=Webbrowser
GenericName[pl_PL]=Przeglądarka WWW
GenericName[sr]=Веб прегледач
GenericName[sr@latin]=Web pregledač
GenericName[nb_NO]=Nettleser
Exec=arora %u
Terminal=false
Type=Application
Icon=arora
Categories=Application;Qt;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;image/gif;image/jpeg;image/png;
StartupNotify=true
